/* GENERAL */
body {
  background-color: #e1e7e3;
  font-family: "Futura", sans-serif;
}

/* NAVBAR */
.nav.navbar-nav {
  float: right;
}

.navbar-default .navbar-brand {
  color: #0f421c;
  font-size: 18px;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0f421c;
  width: 100%;
  position: relative;
  color: #ecf0f1;
  text-align: center;
}

.panel-footer {
  background-color: #ecf0f1;
  color: #242a31;
  height: 40px;
  margin-bottom: -40px;
}

.copy {
  text-align: right;
}

/* O NAMA */

.naslov {
  margin-top: 80px;
}

legend {
    border-bottom-color: #242a31;
}

.tekst {
  font-size: 16px;
  font-family: "Futura", sans-serif;
  color: #242a31;
  line-height: 1.5;
  text-align: justify;
}

.rounded {
  border: 1px solid #242a31;
  height: 250px;
  width: 250px;
  margin-left: 60px;
}

/* MAIL */

.mail {
  background-color: #fdfdfd;
  border: 15px solid #ecf0f1;
}

.control-group {
  margin-bottom: 15px;
}

.submit {
  margin-bottom: 20px;
}
