/* GENERAL */
body {
  background-color: #ffffff;
  font-family: "Futura", sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #2d5a38;
  border-color: #0f421c;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(45, 90, 56, 0.9);
  border-color: rgba(15, 66, 28, 0.9);
}

.btn-primary:focus {
  color: #fff;
  background-color: rgba(45, 90, 56, 0.9);
  border-color: rgba(15, 66, 28, 0.9);
}

.btn-primary::after {
  color: #fff;
  background-color: rgba(45, 90, 56, 0.9);
  border-color: rgba(15, 66, 28, 0.9);
}

.btn-default:hover {
  color: #0f421c;
  background-color: #e1e7e3;
  border-color: #e1e7e3;
}

/* NAVBAR */
.navbar {
  background-color: #0f421c;
  border: 0px solid #0f421c;
}

.navbar-default .navbar-brand {
margin-top: -12px;
}

.nav.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0f421c;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #0f421c;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0f421c;
    background-color: #ffffff;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0f421c;
  width: 100%;
  position: relative;
  color: #ecf0f1;
  text-align: center;
}

.panel-footer {
  background-color: #ecf0f1;
  color: #242a31;
  height: 40px;
  margin-bottom: -40px;
}

.copy {
  text-align: right;
}

/* O NAMA */

.naslov {
  margin-top: 80px;
}

legend {
    border-bottom-color: #242a31;
}

.tekst {
  font-size: 16px;
  font-family: "Futura", sans-serif;
  color: #242a31;
  line-height: 1.5;
  text-align: justify;
}

.rounded {
  border: 1px solid #242a31;
  height: 250px;
  width: 250px;
  margin-left: 60px;
}

/* MAIL */

.mail {
  background-color: #fdfdfd;
  border: 2px solid #0f421c;
  margin-top: 20px;
}

.control-group {
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: rgba(15, 66, 28, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(15, 66, 28, 0.6);
  outline: 0 none;
}

.submit {
  margin-bottom: 20px;
}
